services:
  - type: web
    name: gym-management-api
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_EXPIRE
        value: 30d
      - key: SMS_API_KEY
        sync: false
      - key: SMS_SENDER_ID
        value: GYMAPP
      - key: CORS_ORIGIN
        value: "*"
